<header class="header">
	<nav class="wrapper header-nav">
		<a class="header-nav-title" href="{{ site.baseurl }}/"
			data-transition="-home"
			data-transition-title="{{ site.title }} | {{ site.subtitle }}"
			data-tracking="/"
		>{{ site.title }}</a>
		<div class="header-nav-links">
			<a class="header-nav-link -github" href="https://github.com/timkendrick" target="_blank" title="Github"></a>
			<a class="header-nav-link -articles" href="{{ '/articles/' | prepend: site.baseurl }}" title="Articles"
				data-transition="-articles"
				data-transition-title="Articles | {{ site.title }}"
				data-tracking="/articles/"
			></a>
			<a class="header-nav-link -npm" href="https://www.npmjs.com/~timkendrick" target="_blank" title="npm"></a>
		</div>
	</nav>
	<div class="header-banner">
		<a class="header-banner-link" href="{{ site.baseurl }}/"
			data-transition="-home"
			data-transition-title="{{ site.title }} | {{ site.subtitle }}"
			data-tracking="/"
			alt="{{ site.title }}"
		>
			<span class="header-banner-link-logo"></a>
			<span class="header-banner-link-logo-small"></a>
		</a>
	</div>
	<div class="header-splash wrapper">
		<p class="header-splash-intro hidden-xs">Creator of <a href="https://www.filecanvas.com/" target="_blank">Filecanvas</a>, award-winning <a href="https://preview.timkendrick.co.uk/burberry-eyewear" target="_blank">interactive campaigns</a>,<br class="hidden-xs"/> and high-performance <a href="http://accelerator.fathomlondon.com/" target="_blank">UI component libraries</a>.</p>
		<ul class="header-splash-link-items">
			<li class="header-splash-link-item">
				<a class="header-splash-link -github" href="https://github.com/timkendrick" target="_blank">Github</a>
			</li>
			<li class="header-splash-link-item">
				<a class="header-splash-link -articles" href="{{ '/articles/' | prepend: site.baseurl }}"
					data-transition="-articles"
					data-tracking="/articles/"
					data-transition-title="Articles | {{ site.title }}"
				>Articles</a>
			</li>
			<li class="header-splash-link-item">
				<a class="header-splash-link -npm" href="https://www.npmjs.com/~timkendrick" target="_blank">npm</a>
			</li>
		</ul>
	</div>
</header>
