<header class="header">
	<nav class="wrapper header-nav">
		<a class="header-nav-title" href="{{ site.baseurl }}/"
			data-transition="-home"
			data-transition-title="{{ site.title }} | {{ site.subtitle }}"
			data-tracking="/"
		>{{ site.title }}</a>
		<div class="header-nav-links">
			<a class="header-nav-link -github" href="https://github.com/timkendrick" target="_blank" title="Github"></a>
			<a class="header-nav-link -npm" href="https://www.npmjs.com/~timkendrick" target="_blank" title="npm"></a>
			<a class="header-nav-link -resume" href="{{ '/resume/' | prepend: site.baseurl }}" title="Resumé"
				data-transition="-resume"
				data-transition-title="Resumé | {{ site.title }}"
				data-tracking="/resume/"
			></a>
		</div>
	</nav>
	<section class="wrapper header-splash">
		<div class="header-splash-title">
			<h1 class="header-splash-title-heading">{{ site.title }}</h1>
			<h2 class="header-splash-title-subheading">{{ site.subtitle }}</h2>
		</div>
		<ul class="header-splash-link-items">
			<li class="header-splash-link-item">
				<a class="header-splash-link -github" href="https://github.com/timkendrick" target="_blank">Github</a>
			</li>
			<li class="header-splash-link-item">
				<a class="header-splash-link -npm" href="https://www.npmjs.com/~timkendrick" target="_blank">npm</a>
			</li>
			<li class="header-splash-link-item">
				<a class="header-splash-link -resume" href="{{ '/resume/' | prepend: site.baseurl }}"
					data-transition="-resume"
					data-tracking="/resume/"
					data-transition-title="Resumé | {{ site.title }}"
				>Resumé</a>
			</li>
		</ul>
	</section>
</header>
