.article {}

.article-header {
	@extend .page-header;
}

.article-title {
	@extend .page-title;
	margin-top: 0.5 * $spacing-unit;
}

.article-subtitle {
	@extend .page-subtitle;

	.article.-tip & {
		&:before {
			content: "Tip";
			@include badge;
		}
	}
}

.article-subtitle-author {
	&:before {
		content: "by "
	}
}

.article-subtitle-date {
	&:before {
		content: "on ";
	}
}

.article-content {
	@extend .page-content;
}

.article-links {}

.article-link {
	display: block;
	margin-bottom: 1/3 * $spacing-unit;
}

@include media-query-min($breakpoint-tablet) {

	.article-links {
		@include clearfix;
	}

	.article-link {
		max-width: 45%;
		&.-next {
			float: right;
			text-align: right;
		}
		&.-previous {
			float: left;
		}
	}
}
