.footer {
	border-top: 1px solid $divider-color;
	padding: $spacing-unit 0 $spacing-unit / 2;
}

.footer-contact-list {
	list-style: none;
	margin-left: 0;
}

.footer-contact-link {
	padding-left: 16px + 4px;
	background-position: left center;
	background-repeat: no-repeat;

	&.-email {
		@extend %image-footer-email;
	}

	&.-linkedin {
		@extend %image-footer-linkedin;
	}

	&.-twitter {
		@extend %image-footer-twitter;
	}

	&.-github {
		@extend %image-footer-github;
	}

	&.-npm {
		@extend %image-footer-npm;
	}

	&.-resume {
		@extend %image-footer-resume;
	}
}

.footer-col-wrapper {
	font-family: $subtitle-font-family;
	font-weight: $subtitle-font-weight;
	font-size: $subtitle-font-size;
	line-height: $subtitle-line-height;
	color: $subtitle-text-color;
	@include clearfix;
}

.footer-col {
	margin-bottom: $spacing-unit / 2;
}

@include media-query-min($breakpoint-tablet) {
	.footer-col {
	 	&.-left {
			width: 32%;
			float: left;
			text-align: left;
		}

		&.-right {
			width: 32%;
			float: right;
			text-align: right;
		}
	}
}
