body.-home {
	.header-nav {
		display: none;
	}
}

body:not(.-home) {
	.header-splash {
		display: none;
	}
}

.header {
	background-color: $header-background-color;
	min-height: $header-height;
}

.header-nav {}

.header-nav-title {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
	text-transform: $header-text-transform;
	letter-spacing: $header-letter-spacing;
	line-height: $header-height;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $header-text-color;
	}

	&,
	&:hover {
		text-decoration: none;
		color: $header-text-color-rollover;
	}
}

.header-nav-links {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
	text-transform: $header-text-transform;
	letter-spacing: $header-letter-spacing;
}

.header-splash-title-heading {
	font-size: $splash-title-font-size-mobile;
	line-height: $splash-title-line-height-mobile;
	letter-spacing: $splash-title-letter-spacing-mobile;
	font-family: $splash-title-font-family;
	font-weight: $splash-title-font-weight;
	text-transform: $splash-title-text-transform;
	color: $splash-title-text-color;
	text-align: $splash-title-text-align;
	margin-bottom: 0;
}

.header-splash-title-subheading {
	font-size: $splash-subtitle-font-size-mobile;
	line-height: $splash-subtitle-line-height-mobile;
	letter-spacing: $splash-subtitle-letter-spacing-mobile;
	font-family: $splash-subtitle-font-family;
	font-weight: $splash-subtitle-font-weight;
	text-transform: $splash-subtitle-text-transform;
	color: $splash-subtitle-text-color;
	text-align: $splash-subtitle-text-align;
}

.header-splash {
	padding-top: $header-height;
	background-color: $header-background-color;
	overflow: hidden;
	max-height: 545px;
	transition: max-height 300ms ease-out;
}

.header-splash-title {
	margin-bottom: 1.5 * $spacing-unit;
}

.header-splash-link-items {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-unit;
	list-style: none;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-flex-direction: row;
	display: flex;
	text-align: center;
}

.header-splash-link-item {
	position: relative;
	max-width: calc(#{percentage(1/3)} - 2/3 * #{$spacing-unit});
}

.header-splash-link {
	width: 150px;
	max-width: 100%;
	position: relative;
	display: inline-block;
	font-family: $action-font-family;
	font-weight: $action-font-weight;
	font-size: $action-font-size-mobile;
	line-height: $action-line-height-mobile;
	letter-spacing: $action-letter-spacing-mobile;
	text-transform: $action-text-transform;
	text-align: $action-text-align;

	&,
	&:visited,
	&:hover {
		color: $action-text-color;
	}

	&:before {
		content: '';
		position: relative;
		display: inline-block;
		width: 150px;
		max-width: 100%;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		border-radius: 100%;
	}

	&.-github:before {
		background-image: url("icons/header/github.svg");
	}

	&.-articles:before {
		background-image: url("icons/header/articles.svg");
	}

	&.-resume:before {
		background-image: url("icons/header/resume.svg");
	}
}

@include media-query-max($breakpoint-tablet - 1px) {
	.header {
		position: relative;
	}

	.header-nav-links {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: $background-color;
		border: 1px solid $divider-color;
		border-radius: 5px;
		text-align: right;
	}

	.header-nav-menu-icon {
		float: right;
		width: 36px;
		height: 26px;
		line-height: 0;
		padding-top: 10px;
		text-align: center;
		background-image: url("icons/header/menu.svg");
		background-repeat: no-repeat;
		background-position: center;
	}

	.header-nav-menu {
		clear: both;
		display: none;
	}

	.header-nav-links:hover .header-nav-menu {
		display: block;
		padding-bottom: 5px;
	}

	.header-nav-menu-link {
		display: block;
		line-height: $base-line-height;
		padding: 5px 10px;

		&,
		&:visited {
			color: $base-text-color;
		}
	}
}

@include media-query-min($breakpoint-tablet) {
	.header-nav-links {
		float: right;
	}

	.header-nav-menu-icon {
		display: none;
	}

	.header-nav-menu {
		line-height: $header-height;
		font-size: 0;
	}

	.header-nav-menu-link {
		display: inline-block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		vertical-align: middle;
		overflow: hidden;
		text-indent: 32px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.5;

		&:hover {
			opacity: 0.85;
		}

		&:not(:first-child) {
			margin-left: 6px;
		}

		&.-github {
			background-image: url("icons/header/github.svg");
		}

		&.-articles {
			background-image: url("icons/header/articles.svg");

			body.-articles &,
			body.-article & {
				opacity: 1;

				&:hover {
					opacity: 1;
				}
			}
		}

		&.-resume {
			background-image: url("icons/header/resume.svg");
		}
	}

	.header-splash-title {
		margin-bottom: 2.5 * $spacing-unit;
	}

	.header-splash-title-heading {
		font-size: $splash-title-font-size-tablet;
		line-height: $splash-title-line-height-tablet;
		letter-spacing: $splash-title-letter-spacing-tablet;
	}

	.header-splash-title-subheading {
		font-size: $splash-subtitle-font-size-tablet;
		line-height: $splash-subtitle-line-height-tablet;
		letter-spacing: $splash-subtitle-letter-spacing-tablet;
	}

	.header-splash-link-items {
		max-width: 85%;
	}

	.header-splash-link {
		font-size: $action-font-size;
		line-height: $action-line-height;
		letter-spacing: $action-letter-spacing;
	}
}

@include media-query-min($breakpoint-laptop) {
	.header-splash-title-heading {
		font-size: $splash-title-font-size;
		line-height: $splash-title-line-height;
		letter-spacing: $splash-title-letter-spacing;
	}

	.header-splash-title-subheading {
		font-size: $splash-subtitle-font-size;
		line-height: $splash-subtitle-line-height;
		letter-spacing: $splash-subtitle-letter-spacing;
	}
}

@include media-query-min($breakpoint-desktop) {
	.header-splash {
		padding-top: 0;
	}

	.header-splash-link {
		transition: line-height 100ms ease;

		&:hover {
			line-height: $action-line-height-rollover;
		}

		&:before {
			transform: scale(1, 1);
			transition: transform 100ms ease;
		}

		&:hover:before {
			transform: scale(1.075, 1.075);
		}
	}

	body.-home {
		.header-nav {
			display: block;
			visibility: hidden;
			transition: visibility 200ms linear, opacity 200ms linear;
			opacity: 0;
		}
	}

	body:not(.-home) {
		.header-nav {
			transition: visibility 200ms 100ms linear, opacity 200ms 100ms linear;
		}

		.header-splash {
			display: block;
			transition: max-height 200ms ease-out;
			max-height: 0;
		}
	}
}
