body.-home {
	.header-nav {
		display: none;
	}
}

body:not(.-home) {
	.header-splash {
		display: none;
	}
}

.header {
	background-color: $header-background-color;
	min-height: $header-height;
}

.header-nav {}

.header-nav-title {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
	text-transform: $header-text-transform;
	letter-spacing: $header-letter-spacing;
	line-height: $header-height;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $header-text-color;
	}

	&,
	&:hover {
		text-decoration: none;
		color: $header-text-color-rollover;
	}
}

.header-nav-links {
	float: right;
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	text-transform: $header-text-transform;
	letter-spacing: $header-letter-spacing;
	line-height: $header-height;
	font-size: 0;
}

.header-nav-link {
	$tooltipWidth: 84px;
	$tooltipArrowSize: 6px;
	$tooltipArrowOffset: 2px;
	$tooltipBackgroundColor: #111;
	$tooltipTextColor: white;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.5;
	position: relative;

	&:hover {
		opacity: 1;
	}

	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -$tooltipArrowSize;
		margin-top: $tooltipArrowOffset;
		border-bottom: $tooltipArrowSize solid $tooltipBackgroundColor;
		border-left: $tooltipArrowSize solid transparent;
		border-right: $tooltipArrowSize solid transparent;
	}

	&:after {
		content: attr(title);
		font-size: 12px;
		display: block;
		position: absolute;
		background-color: $tooltipBackgroundColor;
		color: $tooltipTextColor;
		top: 100%;
		left: 50%;
		margin-left: -($tooltipWidth / 2);
		margin-top: $tooltipArrowSize + $tooltipArrowOffset;
		width: $tooltipWidth;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		border-radius: 6px;
		box-shadow: 0 2px 4px rgba(black, 0.25);
	}

	&:first-child {
		&:after {
			margin-left: -($tooltipWidth / 2) + 16px;
		}
	}

	&:last-child {
		&:after {
			margin-left: -($tooltipWidth / 2) - 16px;
		}
	}


	&:before,
	&:after {
		visibility: hidden;
	}

	&:hover {
		&:before,
		&:after {
			visibility: visible;
		}
	}

	&:not(:first-child) {
		margin-left: 6px;
	}

	&.-github {
		@extend %image-header-github;
	}

	&.-npm {
		@extend %image-header-npm;
	}

	&.-articles {
		@extend %image-header-articles;

		body.-articles &,
		body.-article & {
			opacity: 1;

			&:hover {
				opacity: 1;
			}
		}
	}

	&.-resume {
		@extend %image-header-resume;

		body.-resume & {
			opacity: 1;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.header-splash {
	padding-top: $spacing-unit * 1.5;
	background-color: $header-background-color;
	overflow: hidden;
	max-height: 555px;
	transition: max-height 300ms ease-out;
}

.header-splash-title {
	margin-bottom: $spacing-unit * 1.5;
}

.header-splash-title-heading {
	font-size: $splash-title-font-size-mobile;
	line-height: $splash-title-line-height-mobile;
	letter-spacing: $splash-title-letter-spacing-mobile;
	font-family: $splash-title-font-family;
	font-weight: $splash-title-font-weight;
	text-transform: $splash-title-text-transform;
	color: $splash-title-text-color;
	text-align: $splash-title-text-align;
	margin-bottom: 0;
}

.header-splash-title-subheading {
	margin-top: $spacing-unit * 1/3;
	font-size: $splash-subtitle-font-size-mobile;
	line-height: $splash-subtitle-line-height-mobile;
	letter-spacing: $splash-subtitle-letter-spacing-mobile;
	font-family: $splash-subtitle-font-family;
	font-weight: $splash-subtitle-font-weight;
	text-transform: $splash-subtitle-text-transform;
	color: $splash-subtitle-text-color;
	text-align: $splash-subtitle-text-align;
}

.header-splash-title-intro {
	font-size: $splash-intro-font-size-mobile;
	line-height: $splash-intro-line-height-mobile;
	letter-spacing: $splash-intro-letter-spacing-mobile;
	font-family: $splash-intro-font-family;
	font-weight: $splash-intro-font-weight;
	text-transform: $splash-intro-text-transform;
	color: $splash-intro-text-color;
	text-align: $splash-intro-text-align;

	a,
	a:link,
	a:visited {
		color: $splash-intro-link-text-color;
		font-weight: $splash-intro-link-font-weight;
		text-decoration: $splash-intro-link-text-decoration;
	}

	a:hover,
	a:active,
	a:focus {
		color: $splash-intro-link-rollover-text-color;
	}
}

.header-splash-link-items {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-unit;
	list-style: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	@include vendor-prefix(justify-content, space-between);
	@include vendor-prefix(direction, row);
	text-align: center;
}

.header-splash-link-item {
	position: relative;
	max-width: calc(#{percentage(1/3)} - 2/3 * #{$spacing-unit});
}

.header-splash-link {
	width: 150px;
	max-width: 100%;
	position: relative;
	display: inline-block;
	font-family: $action-font-family;
	font-weight: $action-font-weight;
	font-size: $action-font-size-mobile;
	line-height: $action-line-height-mobile;
	letter-spacing: $action-letter-spacing-mobile;
	text-transform: $action-text-transform;
	text-align: $action-text-align;

	&,
	&:visited,
	&:hover {
		color: $action-text-color;
	}

	&:before {
		content: "";
		position: relative;
		display: inline-block;
		width: 150px;
		max-width: 100%;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		border-radius: 100%;
	}

	&.-github:before {
		@extend %image-header-github;
	}

	&.-npm:before {
		@extend %image-header-npm;
	}

	&.-articles:before {
		@extend %image-header-articles;
	}

	&.-resume:before {
		@extend %image-header-resume;
	}
}

@include media-query-max($breakpoint-tablet - 1px) {
	.header-nav-link {
		&:hover:active {
			&:before,
			&:after {
				visibility: hidden;
			}
		}
	}
}

@include media-query-min($breakpoint-tablet) {

	.header-splash {
		padding-top: $header-height;
	}

	.header-splash-title-heading {
		font-size: $splash-title-font-size-tablet;
		line-height: $splash-title-line-height-tablet;
		letter-spacing: $splash-title-letter-spacing-tablet;
	}

	.header-splash-title-subheading {
		margin-top: 0;
		font-size: $splash-subtitle-font-size-tablet;
		line-height: $splash-subtitle-line-height-tablet;
		letter-spacing: $splash-subtitle-letter-spacing-tablet;
	}

	.header-splash-title-intro {
		margin-top: 0;
		font-size: $splash-intro-font-size-tablet;
		line-height: $splash-intro-line-height-tablet;
		letter-spacing: $splash-intro-letter-spacing-tablet;
	}

	.header-splash-link-items {
		max-width: 85%;
	}

	.header-splash-link {
		font-size: $action-font-size;
		line-height: $action-line-height;
		letter-spacing: $action-letter-spacing;
	}
}

@include media-query-min($breakpoint-laptop) {
	.header-splash-title-heading {
		font-size: $splash-title-font-size;
		line-height: $splash-title-line-height;
		letter-spacing: $splash-title-letter-spacing;
	}

	.header-splash-title-subheading {
		font-size: $splash-subtitle-font-size;
		line-height: $splash-subtitle-line-height;
		letter-spacing: $splash-subtitle-letter-spacing;
	}

	.header-splash-title-intro {
		font-size: $splash-intro-font-size;
		line-height: $splash-intro-line-height;
		letter-spacing: $splash-intro-letter-spacing;
	}
}

@include media-query-min($breakpoint-desktop) {
	.header-splash {
		padding-top: 0;
	}

	.header-splash-link {
		transition: line-height 100ms ease;

		&:hover {
			line-height: $action-line-height-rollover;
		}

		&:before {
			transform: scale(1, 1);
			transition: transform 100ms ease;
		}

		&:hover:before {
			transform: scale(1.075, 1.075);
		}
	}

	.header-nav-link {
		&:before,
		&:after {
			pointer-events: none;
			opacity: 0;
			transition: visibility 150ms linear, opacity 150ms ease;
		}

		&:hover {
			&:before,
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	body.-home {
		.header-nav {
			display: block;
			visibility: hidden;
			transition: visibility 200ms linear, opacity 200ms linear;
			opacity: 0;
		}
	}

	body:not(.-home) {
		.header-nav {
			transition: visibility 200ms 100ms linear, opacity 200ms 100ms linear;
		}

		.header-splash {
			display: block;
			transition: max-height 200ms ease-out;
			max-height: 0;
		}
	}
}
