body.-home {
	.container:not(.-home) {
		display: none;
	}
}

body:not(.-home) {
	.container.-home {
		display: none;
	}
}

body.-articles {
	.container:not(.-articles) {
		display: none;
	}
}

body:not(.-articles) {
	.container.-articles {
		display: none;
	}
}

body.-resume {
	.container:not(.-resume) {
		display: none;
	}
}

body:not(.-resume) {
	.container.-resume {
		display: none;
	}
}

.home-articles {}

.home-articles-header {
	@extend .page-header;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eee;
}

.home-articles-title {
	@extend .page-title;
}

.home-articles-content {
	@extend .page-content;
}

.home-articles-list {
	list-style-type: none;
	margin: auto;
}

.home-articles-article {
	margin-bottom: $spacing-unit;
}

.home-articles-article-title {}

.home-articles-article-subtitle {
	font-family: $subtitle-font-family;
	font-weight: $subtitle-font-weight;
	font-size: $subtitle-font-size;
	line-height: $subtitle-line-height;
	color: $subtitle-text-color;
	margin-bottom: 5px;

	.home-articles-article.-tip & {
		&:before {
			content: "Tip";
			@include badge;
		}

		&:hover:before {
			text-decoration: none;
		}
	}
}

.home-articles-article-date {}

.home-articles-article-summary {}

.home-articles-subscribe {}

.home-resume-header {
	@extend .page-header;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eee;
}

.home-resume-title {
	@extend .page-title;
}

.home-resume-content {
	min-width: 200px;
	max-width: 770px;
	font-weight: normal;
	background-color: white;
	margin-bottom: $spacing-unit;

	ul, ol {
		margin-left: auto;
	}
}

@include media-query-min($breakpoint-tablet) {
	.home-resume-content {
		padding: 55px 50px 50px;
		margin: 0 -10px;
		border: 1px solid #d4d4d4;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);


		h1, h2, h3, h4, h5, h6 {
			font-weight: 500;
		}
	}
}

