.container.-articles {
	body:not(.-articles) & {
		display: none;
	}
}

.home-articles {}

.home-articles-header {
	@extend .page-header;
}

.home-articles-title {
	@extend .page-title;
}

.home-articles-content {
	@extend .page-content;
}

.home-articles-list {}

.home-articles-article {}

.home-articles-article-title {}

.home-articles-article-subtitle {
	font-family: $subtitle-font-family;
	font-size: $subtitle-font-size;
	line-height: $subtitle-line-height;
	color: $subtitle-text-color;
}

.home-articles-article-date {}

.home-articles-subscribe {}
