.container {
	padding: $spacing-unit 0;
	background-color: $content-background-color;
}


.wrapper {
	@include clearfix;
	max-width: calc(#{$content-width} - (#{$spacing-unit}));
	padding-right: $spacing-unit * 0.5;
	padding-left: $spacing-unit * 0.5;
	margin-right: auto;
	margin-left: auto;
}

@include media-query-min($breakpoint-desktop) {
	.wrapper {
		max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
		padding-right: $spacing-unit;
		padding-left: $spacing-unit;
	}
}
