@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin badge() {
	font-family: $badge-font-family;
	font-weight: $badge-font-weight;
	font-size: $badge-font-size;
	line-height: $badge-line-height;
	letter-spacing: $badge-letter-spacing;
	text-transform: $badge-text-transform;
	color: $badge-text-color;
	background-color: $badge-background-color;
	border-radius: 3px;
	padding: 0 4px 0 5px;
	margin-right: 3px;
}

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin media-query-min($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

@mixin media-query-max($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}
