.page {}

.page-header {
	margin-bottom: $spacing-unit;
}

.page-title {
	font-family: $title-font-family;
	font-size: $title-font-size-mobile;
	line-height: $title-line-height;
	letter-spacing: $title-letter-spacing;
}

.page-subtitle {
	font-family: $subtitle-font-family;
	font-size: $subtitle-font-size;
	line-height: $subtitle-line-height;
	color: $subtitle-text-color;
}

.page-subtitle-date {
}

.page-subtitle-author {
	&:before {
		content: " • ";
	}
}

.page-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}
}

.page-links {}
.page-link {}

@include media-query-min($breakpoint-tablet) {
	.page-title {
		font-size: $title-font-size;
	}

	.page-content {
		h2 {
			font-size: 32px;
		}

		h3 {
			font-size: 26px;
		}

		h3 {
			font-size: 20px;
		}
	}

	.page-links {
		@include clearfix;
	}

	.page-link {
		max-width: 45%;
		&.-next {
			float: right;
			text-align: right;
		}
		&.-previous {
			float: left;
		}
	}
}
