.page {}

.page-header {
	margin-bottom: $spacing-unit;
}

.page-title {
	font-family: $title-font-family;
	font-weight: $title-font-weight;
	font-size: $title-font-size-mobile;
	line-height: $title-line-height-mobile;
	letter-spacing: $title-letter-spacing-mobile;
	margin-bottom: 5px;
}

.page-subtitle {
	font-family: $subtitle-font-family;
	font-weight: $subtitle-font-weight;
	font-size: $subtitle-font-size;
	line-height: $subtitle-line-height;
	color: $subtitle-text-color;
}

.page-content {
	margin-bottom: $spacing-unit;

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}
}

@include media-query-min($breakpoint-tablet) {
	.page-title {
		font-size: $title-font-size;
		line-height: $title-line-height;
		letter-spacing: $title-letter-spacing;
	}

	.page-content {
		h1 {
			font-size: 42px;
		}

		h2 {
			font-size: 32px;
		}

		h3 {
			font-size: 26px;
		}

		h3 {
			font-size: 20px;
		}
	}
}

@include media-query-min($breakpoint-desktop) {
	@keyframes fade-in {
		from { opacity: 0; } to { opacity: 1; }
	}

	@-webkit-keyframes fade-in {
		from { opacity: 0; } to { opacity: 1; }
	}

	@keyframes slide-in {
		from { opacity: 0; transform: translate(0, 4px) } to { opacity: 1; transform: translate(0, 0) }
	}

	@-webkit-keyframes slide-in {
		from { opacity: 0; transform: translate(0, 4px) } to { opacity: 1; transform: translate(0, 0) }
	}

	.-cv,
	.-articles {
		.page-title {
			-webkit-animation: slide-in 400ms ease;
			animation: slide-in 400ms ease;
		}
	}

	.-cv {
		.home-cv-download {
			opacity: 0;
			-webkit-animation: fade-in 600ms 200ms ease forwards;
			animation: fade-in 600ms 200ms ease forwards;
		}
	}

	.-article {
		.page-title {
			-webkit-animation: slide-in 600ms ease forwards;
			animation: slide-in 600ms ease forwards;
		}

		.page-subtitle {
			opacity: 0;
			-webkit-animation: slide-in 500ms 200ms ease forwards;
			animation: slide-in 500ms 200ms ease forwards;
		}
	}
}
