.page {}

.page-header {
	margin-bottom: $spacing-unit;
}

.page-title {
	font-family: $title-font-family;
	font-weight: $title-font-weight;
	font-size: $title-font-size-mobile;
	line-height: $title-line-height-mobile;
	letter-spacing: $title-letter-spacing-mobile;
	margin-bottom: 5px;
}

.page-subtitle {
	font-family: $subtitle-font-family;
	font-weight: $subtitle-font-weight;
	font-size: $subtitle-font-size;
	line-height: $subtitle-line-height;
	color: $subtitle-text-color;
}

.page-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}
}

@include media-query-min($breakpoint-tablet) {
	.page-title {
		font-size: $title-font-size;
		line-height: $title-line-height;
		letter-spacing: $title-letter-spacing;
	}

	.page-content {
		h2 {
			font-size: 32px;
		}

		h3 {
			font-size: 26px;
		}

		h3 {
			font-size: 20px;
		}
	}
}
