$breakpoint-mobile: 300px;
$breakpoint-tablet: 600px;
$breakpoint-laptop: 800px;
$breakpoint-desktop: 1025px;

$content-width: 800px;
$spacing-unit: 30px;
$header-height: 56px;

$text-color: #333;
$subtitle-color: #828282;
$link-color: #2A7AE2;
$divider-color: lighten($subtitle-color, 40%);
$background-color: #FDFDFD;
$header-background-color: #0B8E1A;

$base-font-family: "Nunito", Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-text-color: $text-color;

$subtitle-font-family: $base-font-family;
$subtitle-font-weight: $base-font-weight;
$subtitle-font-size: $base-font-size * 0.875;
$subtitle-line-height: $base-line-height;
$subtitle-text-color: $subtitle-color;

$title-font-family: "Raleway", Helvetica, Arial, sans-serif;
$title-font-weight: 300;
$title-font-size-mobile: 36px;
$title-font-size: 42px;
$title-line-height: 1.2;
$title-letter-spacing: -1px;

$header-font-family: "Montserrat", $base-font-family;
$header-font-weight: bold;
$header-font-size: 16px;
$header-letter-spacing: 1px;
$header-text-transform: uppercase;
$header-text-color: #FDFDFD;
$header-text-color-rollover: white;

$splash-title-font-family: $header-font-family;
$splash-title-font-weight: $header-font-weight;
$splash-title-font-size: 84px;
$splash-title-line-height: 1.5;
$splash-title-letter-spacing: 4px;
$splash-title-font-size-mobile: 30px;
$splash-title-line-height-mobile: 1.5;
$splash-title-letter-spacing-mobile: 2px;
$splash-title-font-size-tablet: 64px;
$splash-title-line-height-tablet: 1.5;
$splash-title-letter-spacing-tablet: 2px;
$splash-title-text-transform: $header-text-transform;
$splash-title-text-color: $header-text-color;
$splash-title-background-color: $header-background-color;
$splash-title-text-align: center;

$splash-subtitle-font-family: $header-font-family;
$splash-subtitle-font-weight: 100;
$splash-subtitle-font-size: 36px;
$splash-subtitle-line-height: 1.5;
$splash-subtitle-letter-spacing: 0;
$splash-subtitle-font-size-mobile: 26px;
$splash-subtitle-line-height-mobile: 1.25;
$splash-subtitle-letter-spacing-mobile: 0;
$splash-subtitle-font-size-tablet: 36px;
$splash-subtitle-line-height-tablet: 1.5;
$splash-subtitle-letter-spacing-tablet: 0;
$splash-subtitle-text-transform: none;
$splash-subtitle-text-color: $splash-title-text-color;
$splash-subtitle-background-color: $splash-title-background-color;
$splash-subtitle-text-align: center;

$action-font-family: $splash-subtitle-font-family;
$action-font-weight: $splash-subtitle-font-weight;
$action-font-size: 24px;
$action-line-height: 1.75;
$action-line-height-rollover: 1.7;
$action-letter-spacing: $splash-subtitle-letter-spacing;
$action-font-size-mobile: 16px;
$action-line-height-mobile: 1.75;
$action-letter-spacing-mobile: $splash-subtitle-letter-spacing-mobile;
$action-text-transform: uppercase;
$action-text-color: $splash-subtitle-text-color;
$action-background-color: $splash-subtitle-background-color;
$action-text-align: $splash-subtitle-text-align;

$badge-font-family: "Montserrat", $base-font-family;
$badge-font-weight: bold;
$badge-font-size: 14px;
$badge-line-height: 1.5;
$badge-letter-spacing: 1px;
$badge-text-transform: uppercase;
$badge-text-color: white;
$badge-background-color: #828282;
