---
layout: content
---
<div class="page">
	<header class="page-header">
		<h1 class="page-title">{{ page.title }}</h1>
		<p class="page-subtitle">
			<span class="page-subtitle-date">{{ page.date | date: "%b %-d, %Y" }}</span>{% if page.author %}<span class="page-subtitle-author">{{ page.author }}</span>{% endif %}</p>
	</header>
	<article class="page-content">
{{ content }}
	</article>
	<nav class="page-links">
		{% if page.next %}<a class="page-link -next" href="{{ page.next.url }}">Next: {{ page.next.title}}</a>{% endif %}
		{% if page.previous %}<a class="page-link -previous" href="{{ page.previous.url }}">Previous: {{ page.previous.title}}</a>{% endif %}
	</nav>
</div>
