---
layout: base
---
{% include header.html %}
<div class="container -articles">
	<div class="wrapper">
		<div class="home-articles">
			<header class="home-articles-header">
				<h1 class="home-articles-title">Articles</h1>
			</header>
			<article class="home-articles-content">
				<ul class="home-articles-list">
					{% for post in site.posts %}
						<li class="home-articles-article{% if post.type %} -{{ post.type }}{% endif %}">
							<a class="home-articles-article-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
							<p class="home-articles-article-subtitle">
								<span class="home-articles-article-date">{{ post.date | date: "%b %-d, %Y" }}</span>
							</p>
							<p class="home-articles-article-summary">{{ post.summary }}</p>
						</li>
					{% endfor %}
				</ul>
			</article>
			<p class="home-articles-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>
	</div>
</div>
<div class="container -resume">
	<div class="wrapper">
		<header class="home-resume-header">
			<h1 class="home-resume-title">Resumé</h1>
		</header>
		<article class="home-resume-content markdown-body">
		{% capture resume %}{% include resume.md %}{% endcapture %}
{{ resume | markdownify }}
		</article>
	</div>
</div>
<div class="container{% if page.class %} class="{{ page.class }}"{% endif %}">
	<div class="wrapper">
{{ content }}
	</div>
</div>
{% include footer.html %}
<script>
	(function() {
		history.replaceState(document.body.className, null, '');

		window.addEventListener('popstate', function(event) {
			if (!event.state) { return; }
			document.body.className = event.state;
		});

		document.addEventListener('click', function(event) {
			if (!event.target.hasAttribute('data-transition')) { return; }
			var transitionTarget = event.target.getAttribute('data-transition');
			var href = event.target.href;
			if (href) {
				event.preventDefault();
				if (href !== document.location.href) {
					history.pushState(transitionTarget, null, href);
				}
			}
			document.body.className = transitionTarget;
			window.scrollTo(0, 0);
		});
	})();
</script>
