---
layout: base
---
{% include header.html %}
<div class="container -articles">
	<div class="wrapper">
		<{% if page.class == "-articles" %}article{% else %}aside{% endif %} class="home-articles">
			<header class="home-articles-header">
				<h1 class="home-articles-title">Articles</h1>
			</header>
			<div class="home-articles-content">
				<ul class="home-articles-list">
					{% for post in site.posts %}
						<li class="home-articles-article{% if post.type %} -{{ post.type }}{% endif %}">
							<a class="home-articles-article-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
							<p class="home-articles-article-subtitle">
								<span class="home-articles-article-date">{{ post.date | date: "%b %-d, %Y" }}</span>
							</p>
							<p class="home-articles-article-summary">{{ post.summary }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
			<p class="home-articles-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</{% if page.class == "-articles" %}article{% else %}aside{% endif %}>
	</div>
</div>
<div class="container -resume">
	<div class="wrapper">
		<{% if page.class == "-resume" %}article{% else %}aside{% endif %} class="home-resume">
			<header class="home-resume-header">
				<a class="home-resume-download" href="/downloads/Tim%20Kendrick%20-%20Resum%C3%A9.pdf" title="Download PDF" data-type="PDF">
					<svg class="home-resume-download-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16"><path id="arrow" fill="#FFFFFF" d="M6.3843993,0.0457410802 L9.56086989,0.0457410802 L9.56087006,5 L12.3676471,4.99999985 L8.04136029,10.8387097 L3.36764706,4.99999985 L6.3843993,5 L6.3843993,0.0457410802 Z"></path><path fill="#FFFFFF" d="M14,8.00000001 L14,13.9354839 L2.03778076,13.9354839 L2.03778076,8.00000001 L0,8.00000001 L0,16 L16,16 L16,8.00000001 L14,8.00000001 Z"></path></svg>
				</a>
				<h1 class="home-resume-title">Resumé</h1>
			</header>
			<div class="home-resume-content markdown-body">
			{% capture resume %}{% include resume.md %}{% endcapture %}
{{ resume | markdownify | strip_newlines }}
			</div>
		</{% if page.class == "-resume" %}article{% else %}aside{% endif %}>
	</div>
</div>
<div class="container -article">
	<div class="wrapper">
		{{ content }}
	</div>
</div>
{% include footer.html %}
<script>
	(function() {
		history.replaceState({
			bodyClass: document.body.className,
			title: document.title
		}, document.title, '');

		window.addEventListener('popstate', function(event) {
			if (!event.state) { return; }
			if (event.state.title) { document.title = event.state.title; }
			document.body.className = event.state.bodyClass || '';
			if (event.state.bodyClass && (event.state.bodyClass !== '-home') && (document.querySelectorAll('.container.' + event.state.bodyClass).length === 0)) {
				location.reload();
				return;
			}
		});

		document.addEventListener('click', function(event) {
			if (!event.target.hasAttribute('data-transition')) { return; }
			var transitionTarget = event.target.getAttribute('data-transition');
			var transitionTitle = event.target.getAttribute('data-transition-title') || null;
			var trackingId = event.target.getAttribute('data-tracking');
			if (transitionTitle) { document.title = transitionTitle; }
			window.scrollTo(0, 0);
			document.body.className = transitionTarget;
			var href = event.target.href;
			if (href) {
				event.preventDefault();
				if (href !== document.location.href) {
					history.pushState({
						bodyClass: transitionTarget,
						title: transitionTitle
					}, transitionTitle, href);
					if (trackingId && (typeof ga !== 'undefined')) {
						ga('send', 'pageview', trackingId);
					}
				}
			}
		});
	})();
</script>
